.banner {
    background: var(--azul-degrade);
    color: var(--cor-fundo--branca);
    text-align: center;
    padding: 2.5em 2em;
    
}
.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}
.banner__texto {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 24px 0;
}
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-fundo--branca);
    color: var(--cor-fundo--branca);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    padding-left: 2.8em;
}
.banner__pesquisa::placeholder {
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 0.1em;        
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--cor-fundo--branca);
    padding: 0 100;
}
@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
    }
    .banner__texto{
        font-weight: 500;
    }
    .banner__pesquisa{
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        background-position: 5em;
    }
}
@media screen and (min-width: 1728px) {
    .banner__pesquisa{
        width: 33%;
    }
    .banner__pesquisa::placeholder {
        background-position: 8.5em;  /*Desloca o Icone de pesquisa para junto do texto*/
    }
    .banner {
        padding: 5.5em 0;
    }

}